* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(230, 126, 34, 0.5);
}

strong {
  font-weight: 500;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555555;
  overflow-x: hidden;
}

.container {
  max-width: 71.25rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 6rem;
  column-gap: 3.125rem;
}

.grid:not(:last-child) {
  margin-bottom: 6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-vertically {
  align-items: center;
}

.heading-tertiary, .heading-secondary, .heading-primary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}

.heading-primary {
  font-size: 2.75rem;
  line-height: 1.05;
  margin-bottom: 2rem;
}

.heading-secondary {
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 6rem;
}

.heading-tertiary {
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.subheading {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #cf711f;
  margin-bottom: 1rem;
  letter-spacing: 0.75px;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: 9px;
  font-size: 1.25rem;
  border-radius: 9px;
  transition: all 0.3s;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  border: none;
}
.btn--full:link, .btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover, .btn--full:active {
  background-color: #cf711f;
  color: #fff;
}
.btn--outline:link, .btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover, .btn--outline:active {
  background-color: #fdf2e9;
  color: #555;
  box-shadow: inset 0 0 0 3px #fff;
}
.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: flex-end;
  padding: 0.75rem;
}
.btn--form:hover, .btn--form:active {
  background-color: #fff;
  color: #555;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  gap: 1rem;
}

.checkmark {
  height: 1.875rem;
  width: 1.875rem;
  color: #e67e22;
}

.margin-right-sm {
  margin-right: 1rem;
}

.margin-bottom-md {
  margin-bottom: 3rem !important;
}

.center-text {
  text-align: center;
}

.header {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 6rem;
  position: relative;
}

.logo {
  height: 1.375rem;
}

.warning-container {
  display: none;
}

.main-nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

.icon-mobile-nav {
  height: 3rem;
  width: 3rem;
  color: #333;
}

.sticky-navigation .header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.08);
}

.sticky-navigation .section-hero {
  margin-top: 6rem;
}

.main-nav-link:link, .main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.125rem;
  transition: color 0.3s;
}
.main-nav-link:hover, .main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited {
  padding: 0.75rem 1.5rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
  display: inline-block;
}
.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.btn-mobile-nav {
  z-index: 999;
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.icon-mobile-nav[name=close-outline] {
  display: none;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 3rem 0 6rem 0;
  margin-bottom: 6rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  margin-bottom: 3rem;
  line-height: 1.6;
  font-weight: 500;
}

.delivered-meals {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.delivered-text {
  font-weight: 600;
  font-size: 1.125rem;
}
.delivered-text span {
  color: #cf711f;
}

.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: #fdf2e9 solid 3px;
}
.delivered-imgs img:last-child {
  margin: 0;
}

.section-featured-in {
  padding: 3rem 0;
}

.heading-featured {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #999;
}

.featured-logos {
  display: flex;
  justify-content: space-around;
}
.featured-logos img {
  height: 2rem;
  filter: brightness(0);
  opacity: 55%;
}

.how-it-works {
  padding: 6rem 0 0;
}

.step-number {
  font-size: 5.375rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 0.75rem;
}

.step-description {
  line-height: 1.8;
  font-size: 1.125rem;
}

.step-img {
  width: 40%;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::after, .step-img-box::before {
  content: "";
  display: block;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.step-img-box::before {
  background-color: #fdf2e9;
  width: 60%;
}

.step-img-box::after {
  background-color: #fae5d3;
  width: 45%;
}

.section-meals {
  padding: 6rem 0;
}

.meals-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 3.125rem;
}

.meals {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meals:hover {
  transform: translateY(-0.75rem);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.06);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 1rem 2rem 2rem;
}

.meal-tags {
  margin-bottom: 0.75rem;
  display: flex;
  gap: 0.25rem;
}

.tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.meal-name {
  font-weight: 600;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.meal-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #e67e22;
}

.meal-attribute {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.all-recipes {
  text-align: center;
}

.link-recipes:link, .link-recipes:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link-recipes:hover, .link-recipes:active {
  border-bottom: 1px solid transparent;
}

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 0;
  background-color: #fdf2e9;
  align-items: center;
}

.testimonials-container {
  padding: 6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 5rem;
}

.testimonial-img {
  width: 4rem;
  border-radius: 50%;
  margin-bottom: 0.75rem;
}

.testimonial-text {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.testimonial-author {
  font-size: 1rem;
  color: #6f6f6f;
}

.gallery {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

.section-pricing {
  padding: 6rem 0;
}

.section-omnifood-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  column-gap: 3.125rem;
}

.pricing-plan {
  border-radius: 11px;
  padding: 3rem;
  width: 75%;
}

.pricing-plan--starter {
  box-shadow: inset 0 0 0 2px #fdf2e9;
  justify-self: end;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::before {
  content: "Best value";
  text-transform: uppercase;
  position: absolute;
  top: 6%;
  right: -17%;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: #ffd43b;
  padding: 0.5rem 5rem;
  color: #333;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 3rem;
}

.plan-name {
  color: #cf711f;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 2rem;
}

.plan-price {
  color: #333;
  font-weight: 600;
  font-size: 3.875rem;
  margin-bottom: 1rem;
}
.plan-price span {
  font-size: 1.875rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

.plan-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 3rem;
}

.plan-details {
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  height: 2rem;
  width: 2rem;
  background-color: #fdf2e9;
  border-radius: 50%;
  margin-bottom: 2rem;
  padding: 1rem;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 2rem;
}

.feature-text {
  font-size: 1.125rem;
  line-height: 1.8;
}

.section-cta {
  padding: 3rem 0 7.875rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  border-radius: 15px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  color: #45260a;
  padding: 3rem 4rem 4rem 4rem;
}
.cta-text-box .heading-secondary {
  color: #45260a;
  margin-bottom: 2rem;
}

.cta-text {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.cta-img-box {
  background-image: linear-gradient(to right bottom, rgba(235, 152, 78, 0.35), rgba(230, 126, 34, 0.35)), url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1.5rem;
}
.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(253, 242, 233, 0.5);
}
.cta-form label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.125rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.cta-form input::placeholder {
  color: #aaa;
}

.footer {
  padding: 8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: repeat(2, 26fr) repeat(3, 16fr);
}

.footer-heading {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 2rem;
}

.social-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.copyright {
  font-size: 0.875rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.contacts {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 1.5rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-link {
  transition: all 0.3s;
}
.footer-link:link, .footer-link:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #767676;
}
.footer-link:hover, .footer-link:active {
  color: #555;
}

@media (max-width: 75em) {
  html {
    font-size: 0.9375rem;
  }
  .grid {
    row-gap: 4.625rem;
  }
  .step-number {
    font-size: 4.625rem;
  }
  .testimonials-container {
    padding: 2rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .list-item {
    line-height: 1.6;
  }
  .header {
    padding: 0 2rem;
  }
}
@media (max-width: 62em) {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .btn-mobile-nav {
    display: block;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0);
  }
  .nav-open .icon-mobile-nav[name=menu-outline] {
    display: none;
  }
  .nav-open .icon-mobile-nav[name=close-outline] {
    display: block;
  }
  .main-nav-link:link, .main-nav-link:visited {
    font-size: 1.875rem;
  }
  .main-nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-mobile-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .main-nav-list {
    gap: 2rem;
  }
  .hero {
    grid-template-columns: 1fr;
  }
  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
  .delivered-meals {
    margin-top: 2rem;
    justify-content: center;
  }
  .hero-img {
    width: 60%;
  }
  .featured-logos img {
    height: 1.5rem;
  }
  .meals-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .meals {
    width: 80%;
  }
  .meals:first-child {
    justify-self: end;
  }
  .diets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .pricing-plan {
    width: 90%;
  }
  .section-omnifood-features {
    grid-template-columns: repeat(2, 1fr);
  }
  .cta {
    grid-template-columns: 60fr 40fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1rem;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
  }
}
@media (max-width: 46.3125em) {
  .featured-logos {
    display: grid;
    row-gap: 1.5rem;
    grid-template-columns: repeat(6, 1fr);
  }
  .featured-logos .first-row {
    grid-column: span 2;
  }
  .featured-logos .second-row {
    grid-column: span 3;
  }
  .featured-logos img {
    justify-self: center;
    height: 1.5rem;
  }
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .step-img-box:nth-child(2) {
    grid-row: 4;
  }
  .step-img-box {
    transform: translateY(-10%);
  }
  .step-number {
    text-align: center;
  }
  .meals-grid {
    grid-template-columns: 1fr;
  }
  .diets {
    grid-column: span 1;
  }
  .meals,
  .meals:first-child {
    justify-self: center;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .pricing-plan,
  .pricing-plan--starter {
    justify-self: center;
  }
  .section-omnifood-features {
    grid-template-columns: 1fr;
  }
  .cta {
    grid-template-columns: 1fr;
    grid-template-rows: 30fr 70fr;
  }
  .cta-img-box {
    grid-row: 1;
  }
}
@media (max-width: 30em) {
  html {
    font-size: 0.8125rem;
  }
  .featured-logos img {
    height: 1.125rem;
  }
  .margin-right-sm {
    margin: 0;
  }
  .btn--full {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 20em) {
  body > *:not(.warning-container) {
    display: none;
  }
  .warning-container {
    display: block;
    position: absolute;
    width: 60%;
    padding: 1.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75rem;
    text-align: center;
    color: #333;
    background-color: #fdf2e9;
    border-radius: 9px;
  }
}

/*# sourceMappingURL=styles.css.map */
